.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 70px auto;
}

.logo {
  display: inline-block;
  margin-bottom: 2rem;
}

.jokes-list {
  margin-top: 2rem;
  text-align: left;
  list-style: none;
}

.jokes-list > li {
  padding: 1rem;
  margin: 0;
  border-radius: 15px;
}

.jokes-list > li:nth-child(odd) {
  background-color: orange;
}

.jokes-list > li:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}
