.search-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.search-form input {
  font: 20px arial, sans-serif;
  line-height: 34px;
  background-color: #fff;
  padding: 0.5rem;
  vertical-align: top;
  border: none;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 1rem;
}

.search-form input:focus {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

button {
  background-color: white;
  border: 0px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  color: #757575;
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 15px;
  min-width: 200px;
  padding: 0 16px;
  text-align: center;
  height: 36px;
  line-height: 27px;
  transition: all 0.5s ease;
}

button:hover {
  transform: scale(1.05);
}
